/CompanionDisplayWinUI/CompanionDisplayInstaller/bin
/CompanionDisplayWinUI/CompanionDisplayInstaller/obj
/CompanionDisplayWinUI/CompanionDisplayWinUI/Assets/1.57.2_0
/CompanionDisplayWinUI/CompanionDisplayWinUI/bin
/CompanionDisplayWinUI/CompanionDisplayWinUI/obj
/CompanionDisplayWinUI/WinFormsHelper/obj
/CompanionDisplayWinUI/WinFormsHelper/bin
